body{
    background-color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 30px;
}

.container{
    background-color: white;
    padding: 10%;
    border-radius: 30px;
}